:root {
    --awCo-red: #d3455b;
    --awCo-orange: #f09000;
    --awCo-yellow-dark: #e6af19;
    --awCo-yellow: #f9d86c;
    --awCo-green: #27ae9e;
    --awCo-blue: #2c89d9;
    --awCo-purple: #9c739c;
    --awCo-cherry: #c8896a;

    --awCo-marker-waiting: var(--awCo-marker-waiting-user, var(--awCo-cherry));
    --awCo-marker-later: var(--awCo-marker-later-user, var(--awCo-orange));
    --awCo-marker-todo: var(--awCo-marker-todo-user, var(--awCo-red));
    --awCo-marker-now-doing: var(--awCo-marker-now-doing-user, var(--awCo-blue));
    --awCo-marker-done: var(--awCo-marker-done-user, var(--awCo-green));

    --awCo-priority-a: var(--awCo-priority-a-user, var(--awCo-red));
    --awCo-priority-b: var(--awCo-priority-b-user, var(--awCo-orange));
    --awCo-priority-c: var(--awCo-priority-c-user, var(--awCo-green));
}

/*
  >>> BEGIN: Tasks: status recolor
*/
.block-marker.block-marker.block-marker,
.done::before {
    position: relative;
    top: -1px;
    display: inline-block;
    margin: 0 0.6em 0 0 !important;
    padding: 2px 3px 1px 3px;
    font-family: 'Inter';
    font-size: 70% !important;
    font-weight: 600;
    line-height: 1;
    border-radius: 4px;
    border: 1px solid currentColor;
    background: var(--ls-primary-background-color);
}
.content .form-checkbox {
    position: relative;
    top: -1px;
    margin-right: 0.2em !important;
    width: 1.1rem !important;
    height: 1.1rem !important;
    border-radius: 5px;
    border: 2px solid var(--ls-primary-background-color) !important;
}
.content .form-checkbox:hover {
    opacity: 0.6 !important;
    transform: none !important;
}
.content .done::before {
    content: "DONE";
    margin: 0 0.4em 0 1.9em !important;
    color: var(--awCo-marker-done);
    border: 1px solid var(--awCo-marker-done);
    text-decoration: line-through;
}
.block-ref {
    /* fix for checkbox in references */
    position: relative;
}
.content .done .form-checkbox {
    position: absolute;
    margin-left: -4.1em;
    top: 5px;
    background-color: var(--awCo-marker-done) !important;
    opacity: 0.7;
    transform: none;
    background-origin: content-box;
}
.content .done .form-checkbox:checked:hover {
    opacity: 1 !important;
    border: 1px solid var(--ls-primary-background-color);
}
.now .block-marker.block-marker,
.doing .block-marker.block-marker {
    color: var(--awCo-marker-now-doing) !important;
}
.content .now .form-checkbox,
.content .doing .form-checkbox {
    background-color: var(--awCo-marker-now-doing) !important;
    opacity: 0.4;
}
.later .block-marker.block-marker {
    color: var(--awCo-marker-later) !important;
}
.content .later .form-checkbox {
    background-color: var(--awCo-marker-later) !important;
    opacity: 0.4;
}
.todo .block-marker.block-marker {
    color: var(--awCo-marker-todo) !important;
}
.content .todo .form-checkbox {
    background-color: var(--awCo-marker-todo) !important;
    opacity: 0.4;
}
.waiting .block-marker {
    color: var(--awCo-marker-waiting) !important;
}
.waiting .block-marker:hover {
    opacity: 1 !important;
}
.content .waiting .form-checkbox {
    background-color: var(--awCo-marker-waiting) !important;
    opacity: 0.4;
}
/*
  <<<< END: Tasks: status recolor
*/


/*
  >>> BEGIN: Tasks: priority recolor
*/
.priority {
    font-size: 0;
    visibility: hidden;
}
a[priority]::before,
.priority::before {
    position: relative;
    top: -.7ex;
    content: "" !important;
    display: inline-block;
    visibility: visible;
    margin: -0.5ex 0 -0.6ex -0.2em;
    height: 1.3rem;
    width: 1.3rem;
    border-radius: 100%;
    font-size: 0.9rem !important;
    vertical-align: middle !important;
    -webkit-mask: var(--awCo-priority-bg) no-repeat 50% 50%;
    mask: var(--awCo-priority-bg) no-repeat 50% 50%;
}
a[priority="A"]::before,
.priority[href="#/page/A"]::before {
    --awCo-priority-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3e%3cpath stroke='none' d='M0 0h24v24H0z'/%3e%3cpath d='M3 12a9 9 0 1 0 18 0 9 9 0 1 0-18 0M12 8l-4 4M12 8v8M16 12l-4-4'/%3e%3c/svg%3e");
    background-color: var(--awCo-priority-a);
}
a[priority="B"]::before,
.priority[href="#/page/B"]::before {
    background-color: var(--awCo-priority-b);
    --awCo-priority-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3e%3cpath stroke='none' d='M0 0h24v24H0z'/%3e%3cpath d='M11 12a1 1 0 1 0 2 0 1 1 0 1 0-2 0'/%3e%3cpath d='M3 12a9 9 0 1 0 18 0 9 9 0 1 0-18 0'/%3e%3c/svg%3e");
}
a[priority="C"]::before,
.priority[href="#/page/C"]::before {
    background-color: var(--awCo-priority-c);
    --awCo-priority-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24'%3e%3cpath stroke='none' d='M0 0h24v24H0z'/%3e%3cpath d='M3 12a9 9 0 1 0 18 0 9 9 0 1 0-18 0M8 12l4 4M12 8v8M16 12l-4 4'/%3e%3c/svg%3e");
}
a.tooltip-priority {
    transition: none;
}
/*
  <<<< END: Tasks: priority recolor
*/


/* Flow theme overrides */
.block-marker:is(.TODO, .DOING, .NOW, .WAIT, .waiting, .LATER)::before {
    display: none;
}


